body{
    background-color: #0f121f;
    background-image: url(blue3.jpg);
    background.repeat-y: no-repeat;

    }

body *{
    font-family: Ubuntu;
    color: #000;
    border: 1px solid red;
    }

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
    }

.checked {
  color: orange;
}

.star-btn {
    background-color: inherit !important;
    border: none !important;
    outline: none !important;
}
