<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input name="email" placeholder="Enter Email" required type="text">

    <label for="psw"><b>Password</b></label>
    <input name="psw" placeholder="Enter Password" required type="password">

    <button class="btn" type="submit">Login</button>
    <button class="btn cancel" onclick="closeForm()" type="submit">Close</button>
  </form>
</div>